* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#02020f, #000);
  overflow: hidden;
  font-family: monospace;
}

/* GAME AREA */
#game {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* SCORE */
#score {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #00ffcc;
  font-size: 18px;
  z-index: 10;
}

/* UFO */
#ufo {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 80px;
  height: 30px;
  background: silver;
  border-radius: 50%;
  transform: translateX(-